.grass, .sky, .road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}


.lines {
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

/* ELEMENTS TO ANIMATE */

.mario {
    position: absolute;
    top: -55px;
    left: 0px;
    animation: drive 13s both infinite normal, jump 0.3s 1.2s ease;
    /*
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: both;  none forwards backwards both
    animation-iteration-count: infinite;
    animation-timing-function: normal;
     animation-timing-function: cubic-bezier(0, .77, 1, .28); */
}

.luigi {
    position: absolute;
    top: -55px;
    left: 0;
    animation: drive 15s both infinite normal;
    /*
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;  alternate alternate-reverse reverse normal
    animation-timing-function: normal;
    animation-timing-function: cubic-bezier(0, .77, 1, .28); */
}

.cloud {
    position: absolute;
}

.cloud:nth-child(1) {
    width: 200px;
    top: 120px;
    opacity: 0.5;
    animation: wind 80s /* delay somewhere after duration */ linear infinite reverse;
}

 .cloud:nth-child(2) {
    width: 300px;
    top: 0;
    animation: wind 50s linear infinite reverse;
} 

/* KEYFRAMES */

@keyframes drive {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(1550px);
    }
}

@keyframes wind {
    from {
        left: -300px;
    }
    to {
        left: 100%;
    }
}

@keyframes jump {
    0% {
        top: -40px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -40px;
    }
}


<!-- -->

$bgPage: #333333
$color1: #FFCC66
$color2: #FDD17B
$color3: #FFF2D8
$color4: #FCB449
$bgBelt: #CC3300
$bgBelt2: #FFFFCC

.dog
	display: block
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

	.head
		display: block
		width: 100%
		height: 90px
		border-radius: 40px 40px 0px 0px
		position: absolute
		left: 0px
		bottom: 100%
		background: $color1

	.ears
		display: block
		width: 100%
		position: relative
		z-index: -1

		&::before, &::after
			content: ''
			width: 30px
			height: 60px
			box-sizing: border-box
			position: absolute
			transition: transform 0.5s ease

		&::before
			border-radius: 80px 20px 0px 0px
			left: 0px
			bottom: -40px
			background: $color2
			transform: rotate(-59deg)

		&::after
			right: 0px
			bottom: -35px
			border: 10px solid $color2
			border-radius: 20px 80px 0px 0px
			background: $color3
			transform: rotate(30deg)

	&:hover .ears::before, &:hover .ears::after
		transform: none

	.eyes
		display: block
		width: 100%
		margin: 15px 0px 6px
		line-height: 1rem
		text-align: center
		position: relative

		&::before, &::after
			content: ''
			display: inline-block
			width: 10px
			height: 10px
			margin: 0px 12px
			border-radius: 50%
			background: #000
			animation: squeeze 2s infinite

	.beard
		display: block
		width: 40px
		height: 40px
		margin: 0px auto
		border-radius: 5px 5px 15px 15px
		background: $color3
		position: relative

		&::before
			content: ''
			display: block
			width: 20px
			height: 10px
			margin: 0px auto
			border-radius: 0px 0px 10px 10px
			background: #333

	.mouth
		display: block
		width: 30px
		height: 15px
		margin: 5px auto 0px
		border-radius: 0px 0px 15px 15px
		background: #000
		position: relative

		&::before
			content: ''
			display: block
			width: 100%
			height: 3px
			position: absolute
			top: 0px
			left: 0px
			background: #FFF

	&:hover .mouth
		height: 2px
		border-radius: 0px 0px 15px 15px

	&:hover .mouth::before
		display: none

	.tongue
		display: block
		width: 20px
		height: 20px
		margin-left: -10px
		border-radius: 3px 3px 10px 10px
		position: absolute
		top: 7px
		left: 50%
		background: #900
		animation: grow 0.1s infinite alternate

	&:hover .tongue
		height: 0px
		animation: none

	.belt
		display: block
		width: 104%
		height: 20px
		border-radius: 3px
		background: $bgBelt
		position: relative
		left: -2%
		z-index: 3

		&::before
			content: ''
			display: block
			width: 25px
			height: 25px
			margin-left: -12.5px
			border-radius: 50%
			position: absolute
			top: 5px
			left: 50%
			background: $bgBelt2

	.stomach
		display: block
		width: 100px
		padding: 30px 0px 0px
		background: $color1
		position: relative
		
		&::before
			content: ''
			display: block
			width: 50px
			height: 100px
			margin: 0px auto
			border-radius: 25px 25px 0px 0px
			background: $color3

	.legs
		display: block
		position: relative

		&::before, &::after
			content: ''
			display: block
			width: 16px
			height: 60px
			background: $color4
			position: absolute
			bottom: 0px
			z-index: 1

		&::before
			left: -16px
			border-radius: 20px 0px 0px 0px

		&::after
			right: -16px
			border-radius: 0px 20px 0px 0px

		.left, .right
			display: block
			width: 40px
			height: 70px
			position: absolute
			bottom: 0px
			z-index: 2

			&::before, &::after
				content: ''
				display: block
				border-radius: 15px 15px 0px 0px
				position: absolute
				bottom: 0px
			
			&::before
				width: 30px
				height: 20px
				background: $color1
				z-index: 2

			&::after
				width: 35px
				height: 15px
				background: $color4
				z-index: 1

		.left
			left: -20px
			
			&::before
				right: 0px

			&::after
				right: 15px

		.right
			right: -20px

			&::before
				left: 0px

			&::after
				left: 15px

	.tail
		display: block
		width: 50px
		height: 120px
		border-radius: 0px 100% 0px 0px
		position: absolute
		left: 100%
		bottom: 20px
		z-index: -1
		transform: rotate(40deg) translate(5px, 0px)
		animation: shake 0.1s infinite alternate

		&::before, &::after
			content: ''
			display: block
			position: absolute
			left: 0px
			background: $color1

		&::before
			width: 60%
			height: 80%
			border-radius: 0px 100% 0px 0px
			top: 0px
		
		&::after
			width: 75%
			height: 60%
			border-radius: 100% 0%
			top: 30%

@keyframes squeeze
	90%
		transform: none
		animation-timing-function: ease-in
	93%
		transform: scale(1.2, 0.3)
	100%
		animation-timing-function: ease-out

@keyframes grow
	0%
		animation-timing-function: ease-in
	100%
		height: 25px

@keyframes shake
	0%
		transform: rotate(40deg) translate(5px, 0px)
	100%
		transform: rotate(35deg) translate(0px, 0px)






