@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);


body {
    overflow-x: hidden;
    overflow-y: visible;
}

html {
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: -200px;
    bottom: 0;
    background: #fff;
    width: 200px;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    font-family: 'Hanna', sans-serif;
}

.sidebar img {
    border: 3px solid #eee;
    border-radius: 50%;
    display: block;
    margin: 50px auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: rotate(5deg);
    transition: all ease-in-out 200ms;
}

.sidebar img:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
    padding: 10px 0;
}

.sidebar ul li {
    list-style: none;
    margin-left: 5px;
    margin-bottom: 22px;
    text-align: left;
}

.sidebar ul li a {
    padding: 10px 20px;
    color: #272727;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    font-family: 'Hanna', sans-serif;

}

.sidebar ul li a:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 20px;
    width: 0;
    height: 3px;
    background: rgba(52, 152, 219, 1);
    transition: all ease-in-out 200ms;
}

.sidebar ul li:hover a:after {
    width: 110px;
}

.sidebaricon {
	width: 25px;
}

.button {
    position: fixed;
    z-index: 1000;
    top: 5px;
    left: 5px;
}

.sidebtn {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #ffffff;
    opacity: 0.4;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 200ms;
}

.sidebtn:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.sidebtn span {
    display: block;
    width: 35px;
    height: 3px;
    background: rgba(41, 128, 185, 1);
    position: absolute;
    top: 24px;
    left: 7px;
    transition: all ease-in-out 200ms;
}

.sidebtn span:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(41, 128, 185, 1);
    transition: all ease-in-out 200ms;
}

.sidebtn span:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(41, 128, 185, 1);
    transition: all ease-in-out 200ms;
}

.active {
    left: 0;
}

.sidebtn.toggle span {
    background: transparent;
}

.sidebtn.toggle span:before {
    top: 0;
    transform: rotate(45deg);
}

.sidebtn.toggle span:after {
    top: 0;
    transform: rotate(-45deg);
}

.bg1 {
    background: #30336b;
    height: 400px;
}

.slideanimation {
    visibility: hidden;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 3px solid #eee;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 200ms;
}

#skills {
    min-height: 600px;
}

#skills img:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.show {
    animation-name: myanimation;
    -webkit-animation-name: myanimation;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
}

@keyframes myanimation {
    0% {
        opacity: 0;
        transform: translateX(20%) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateX(0%) scale(1);
    }
}

@-webkit-keyframes myanimation {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20%) scale(0.95);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%) scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .slideanimation {
        visibility: visible;
    }
}

