tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr {
    font-size: 15px;
    color: #2a2a2a;
    line-height: 1;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f2f2f2;
    cursor: pointer;
}

table {
    font-family: "Malgun Gothic", sans-serif;
    border-spacing: 1;
    border-collapse: collapse;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 12pt;
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

table * {
    position: relative;
}

table th {
    font-size: 12.5pt;
    background: #282828;
    color: white;
    height: 48px;
    border: 0;
}

table tbody tr {
    min-height: 50px;
}

table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #e7e7e7;
}

table th {
    text-align: center;
}

table td.l, table th.l {
    text-align: center;
}

table td.c, table th.c {
    text-align: center;
}

table td.r, table th.r {
    text-align: center;
}

th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 3px;
    border-radius: 0 0 6px 3px;
}